<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="example-sidenav" mode="over">
    <div fxLayout="column">
      <button mat-button routerLink="/pessoa">Listar Pessoa</button>
      <button mat-button routerLink="/pessoa/cad-pessoa">Inserir Pessoa</button>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar>
      <button fxHide.gt-xs="true" mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <div fxHide.xs="true" fxLayout="row">
        <button mat-button routerLink="/pessoa">Listar Pessoa</button>
        <button mat-button routerLink="/pessoa/cad-pessoa">Inserir Pessoa</button>
      </div>
    </mat-toolbar>
    <div style="text-align:center">
      <h1>
        {{ titulo }}
      </h1>
    </div>

    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>

</mat-drawer-container>